<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.wallethub.facebook.LoginPage.facebookHomePageTest"/>
      <!-- class name="com.wallethub.facebook.base.BaseClass"/-->
      <!--class name="com.wallethub.facebook.LoginPage.facebookLoginPageTest"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
